body {
	font-family: $font-default;
}

.card {
	&-title--item {
		font-family: $roboto-medium;
		font-size: 13px;
		color: $brown;
	}

	&-text--item{
		
	}

	&-body--item{
		padding-left: 0;
		padding-right: 0;
		text-align: center;
	}
}

.flex {
	display: flex;

	&-align-center {
		align-self: center;
	}
}

.navbar-toggler {
	&:focus {
		outline: none;
	}
}